.Three{
    width: 10vw;
    height: 30vw;
    float: left;
    position: relative;
    z-index: 12;
}
.Three ul{
    width: 10vw;
    height: 30vw;
    margin: 0;
    padding: 0;
}
.Three li{
    width: 10vw;
    height: 10vw;
}
.Three a{
    width: 10vw;
    height: 10vw;
    display: block;
    overflow: hidden;
    position: absolute;
}
.Three a img{
    width: 100%;
    height: auto;
    position: absolute;
}

.Other{
    width: 52vw;
    height: 30vw;
    text-align: left;
    overflow: hidden;
    background-color: rgba(0, 255, 255, 0.29);
    position: relative;
    z-index: 10;
}
.Other:hover{
    transition: all 1s ease-in-out;
    left: 0;
}
.Other:not(:hover){
    transition: all 1s ease-in-out;
    left: -42vw;
}
.Other1{
    width: 10vw;
    height: 30vw;
    overflow: hidden;
    display: flex;
    align-items: center;
    justify-content: center;
}
.Other1 img {
    width: 100%;
    height: auto;
}
.Other2{
    width: 42vw;
    height: 30vw;
    text-align: left;
    overflow: auto;
    float: left;
}